@charset "utf-8";
html{

}

/*post*/
#post {
    float: left;
    border-radius: 3px;
    font-size: 18px;


}
textarea{
    border: 1px solid #b1b1b1;
    width: 1200px;
    padding: 10px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    background: #fff;
    font-size: 20px;
    font-weight: 40px;
    border-color: #b1b1b1;

  }
  .post-png{
width: 50px;
  }

  .post-table {
    width: 100%;
  margin-bottom: 22px;
  border-color: #b1b1b1;

  }

  .post-table>tbody>tr>td{
    padding: 15px;
    line-height: 1.6;
    vertical-align: top;
    border-top: 2px solid #c0c0c0;
  }
  .post-table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #c0c0c0;
  }
.edit-png{
  width: 50px;
}
  .trash-h{
    width: 50px;
  }
  .image-container:hover {
    background-image: url('public/images/atlas.png');
  }
body{
}
/* updateForm 開いた時　jQuery */
.content{
  margin: 0 auto;
  padding: 40px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
/* .modalはデフォルトでdisplay:noneに設定しておく必要があります。
ボタンが押されたらモーダルを表示する為です。 */

.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}
/* header */

.atlas-png{
  width: 130px;
  padding: 30px;
    }

.header-menu{
    background:#186AC9;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    justify-content:space-between;
    display: flex;
    

}

/*アコーディオンメニュー*/
.nav-menu{
  padding: 20px;
  padding-inline: 50px;
  display: flex;
  column-gap:30px;
  }

  .p-username{
    margin-top: 30px;
   }

.nav-btn{
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 10px;
    top:40%;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    transform:rotate(45deg);



  }

.nav-btn.open  {
  position: relative;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 10px;
    top:40%;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
  transform:rotate(-135deg);


    }


.nav-menu ul{
  display: none;
}

.nav-menu ul li{
 padding: 20px;
 font-size: 30px;
 font-weight: normal;
 font-family: sans-serif;
 background-color: #fff;
}

/*サイドメニュー*/



p.username{
    justify-content: flex-end;
}

.post-icon{
  display: flex;
  width: 80px;
  height: 80px;
  border-color: #fff;
}
p.icon{
    justify-content: flex-end;
}

.search-table{
  margin-bottom: 22px;
  border-color: #b1b1b1;
  text-align: center;
}
.search-table>tbody>tr>td{
  padding: 15px;
  line-height: 1.0;
  vertical-align: top;
  border-top: 1px solid #ddd
}
.search-table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd
}

.search-png{
  width: 50px;
    }


.ff-button{
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  padding: 10px 0px 10px 0px;
 text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  transition: all 0.3s;
}
.ff-button:before {
	content: 'フォローする';
}
.checkbox {
	display: none;
}

.checkbox:checked+.ff-button{
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  padding: 10px 0px 10px 0px;
  display: inline-block;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  transition: all 0.3s;

}
.checkbox:checked+.ff-button:before{
  content: 'フォロー解除';
}

.g-navi ul li a, .g-navi ul li p {
    text-align: right;
    display: block;
    color: #808080;
    font-size: 30px;
    padding: 20px 0;
    letter-spacing: .25rem;
    background:#fff;
    font-weight: normal;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}



/* profile */


.profile-update{
  margin: 100px;
  display: flex;
}
.profile-update img{
  height: 100px;
  width: 100px;
}
.profile-add{
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content:space-between;
  font-size: 25px;
}
.ct-block {
  margin-bottom: 32px;
}

.form-name,
.form-mail,
.form-password,
.form-bio{
  width:50%;
  height: 45px;
  padding: 0 10px;
  background: #ddd;
  border-color: #727272;
  border-width: 1px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;

}
.f-images{
  width:50%;
  height: 80px;
  padding: 0 10px;
  background: #ddd;
  border-color: #727272;
  border-width: 1px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;

}
.up-btn{
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  width: 200px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  background-color: #FF3333;
  border-color: #FF3333;
  margin-left: 300px;
}

/* フォローフォロワーリスト*/
.ff-images {
  font-size: 30px;
  border-bottom: 10px solid #ddd;

}
/* 上、右、下、左 */
.ff-images h2{
 margin: 40px 0px 0px 60px;
}

.f-img{
  display: flex;
  margin-left: 70px;
}
.ff-img{
  padding-top: 8px;
  margin-left: 120px;
 display: flex;

}
.ff-images{
  display: flex;
}
.ff-post{
 display: flex;
 border-bottom: 2px solid #b1b1b1;
 padding: 10px 0px 10px 0px;
}
.f-at{
  padding: 10px 30px 0px 0px;
  margin-left: auto;
  font-size: 14px;

}

.f-post-name{
  padding-top: 10px;
}

.other-profile{
  border-bottom: 10px solid #ddd;
  display: flex;
  padding: 40px 0px 40px 0px;
}

.p-img{
  margin-left: 110px;


}
.n-b{
  display: flex;
  padding-bottom: 10px;
}
.other-name-bio {
  font-size: 22px;
  padding: 20px 0px 0px 0px;

}

.p-name-bio{
  padding:20px 0px 0px 150px;
  font-size: 23px;
  margin-left: auto;
}

.btn-danger{
  margin-left: auto;
 padding-right: 20px;
}